# Ignore frontend artifacts
/frontend/node_modules/
/frontend/dist/
/frontend/.env.local
/frontend/.env.development.local
/frontend/.env.test.local
/frontend/.env.production.local

# Ignore api artifacts
/api/node_modules/
/api/.env
/api/logs/
/api/tmp/
/api/uploads/
